:root {
    --primarily-color: #E4DDD8;
    --secondary-color: #DCCECA;
    --CTA-color: rgb(0,0,0);
    --third-color:#D49A84;
    --brown-color:#4F3832;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:10px;
    font-family: Inter, Sans-Serif;
}
body{
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
}

.wallpaper {
    background-color: var(--primarily-color);
    width:100%;
    height:100%;
    position:relative;
    z-index: -3;
}

header {
    width:8rem;
    height:100%;
    background-color: var(--secondary-color);
    position:fixed;
}

header > nav {
    margin-top:5rem;

}
.menu {
    list-style-type: none;
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-decoration: none;
    text-align:center;
   
}
svg {
    width:50%;
    height:100px;
}

#ball {
    width:150px;
    height:150px;
    background-color:var(--third-color);
    border-radius: 100%;
    position:absolute;
    right:0;
    z-index:-2;
}
#ball-2 {
    width:200px;
    height:200px;
    background-color: var(--brown-color);
    border-radius: 100%;
    position:absolute;
    left:4rem;
    top:12rem;
    z-index:-1;
}

#ball-3 {
    width:200px;
    height:200px;
    background-color: var(--third-color);
    border-radius: 100%;
    position:absolute;
    right:0;
    top:49rem;
    z-index:-1;
}

.main-content {
    /* margin-left:10rem; */
    margin-left:8rem;
    width: auto;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 4rem 2rem 5rem 2rem;
}

.main-heading {
    font-size:4.5rem;
    font-style:italic;
    font-weight:300;
    margin-bottom:2rem;
}

.calendar-wrapper {
    display:flex;
    flex-direction:column;
    align-items: space-between;
}
.month {
    height:10%;
    align-self:flex-end;
    width:100%;
    background-color: white;
    font-size:2.5rem;
    text-align:center;
    font-weight:100;
    padding:2rem;
    
}

.calendar {
    background-color: var(--secondary-color);
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}

.calendar > div {
    background-color:white;
    /* margin-right:.5rem;
    margin-top:.5rem; */
    display:flex;
    flex-direction:column;
    padding: .8rem;
    border:.06rem solid var(--secondary-color);

}

.calendar > div:hover {
    color:var(--primarily-color);
    background-color: black;
    border:.5rem solid var(--third-color);
}
.calendar > div:hover .details-btn {
    color:black;
}

.day-heading {
    display:flex;
    justify-content: space-between;
    height:30%;
}
.day-name {
    font-size:1.4rem;
    font-weight:300;
}
.day-number {
    font-size:1.4rem;
    font-weight:300;
}
.project-details{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.details {
    font-size:1.4rem;
    font-weight:350;
}

.details-btn {
    color:grey;
    border:none;
    outline:none;
    margin-top:.5rem;
    height:100%;
    padding:.2rem;
    font-size:1.2rem;
    align-self: flex-start;
}


@media(min-width:820px) {
    .calendar {
        grid-template-columns: repeat(5,1fr);
    }
    .month {
        text-align:right;
        width:20%;
    }
}

@media(min-width:1200px) {
    .calendar {
        grid-template-columns: repeat(7,1fr);
    }
    .main-heading {
        font-size:10rem;
        margin-bottom:2rem;
    }
    #ball {
        width:600px;
        height:600px;
        right:0;
    }
    #ball-2{
        width:300px;
        height:300px;
        top:18rem;
        left:unset;
        right:13rem;
    }
    #ball-3 {
        display:none;
    }
    header {
        width:10rem;
    }
    .main-content {
        margin-left:10rem;
        padding: 4rem 5rem 5rem 5rem;

    }
    .month {
        width:15%;
        font-size:3.5rem;
        text-align:center;
    }
    .details-btn{
        font-size:1.5rem;
        padding:.5rem;
        width:50%;
        margin-top:1.2rem;
        align-self:flex-start;
    }
    .details {
        font-size:2rem;
    }
    .day-number, .day-number {
        font-size:1.8rem;
    }
    .calendar > div {
        border:.1rem solid var(--secondary-color);
    }
    .calendar {
        height:600px;
    }
}
